{% extends "base_generic.html" %}

{% block content %}

    {% comment %}
        如果在登陆页面中输入的用户名和密码不错，就会出现以下的提示, 如果正确了会跳转到以下的页面
        http://127.0.0.1:8000/accounts/profile/， 由于我们还没定义这个页面，django会提示我们错误，
        所以我们去设置，登陆后跳转到的页面为主页，去settings 中最后设置
    {% endcomment%}
    {% if form.errors %}
        <p>您的用户名和密码不对，请再试一次。</p>
    {% endif %}

    {% if next %}
        {% comment %}
            这里之所以加这个判断是因为，如果你用有权限的登录后，并且直接在当前需要权限才能访问的页面退出登录
            那么会弹出登录页面，再用一个没有权限的登录，就会显示这个下面的权限信息
        {% endcomment %}
        {% if user.is_authenticated %}
            <p>您的账户无法访问此页面。继续，请使用有权限的账号登陆。</p>
        {% else %}
            <p>请登陆查看此页面。</p>
        {% endif %}
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}

        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag}}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <div>
            <input type="submit" value="login">
            <input type="hidden" name="next" value="{{ next }}">
        </div>
    </form>

    {# 假设您在URLconf中设置password_reset视图 #}
    <p><a href="{% url 'password_reset' %}">密码忘记了？</a></p>
{% endblock %}